html, body {
	height: 100vh;
}

body {
	display: flex;
	flex-direction: column;
}

.browser-warning {
	display: none;

	padding: 1rem;

	background: repeating-linear-gradient(-55deg, #f00, #f00 10px, #ffa500 10px, #ffa500 20px);

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;

	text-align: center;

	text-shadow: 1px 0 2px #fff, -1px 0 2px #fff, 0 1px 2px #fff, 0 -1px 2px #fff;
}

.browser-warning.show {
	display: block;
}

.browser-warning a {
	color: #333;
}

#map {
	flex: 1 0;
}

.leaflet-container {
	background: #eee;
}

.leaflet-container .leaflet-control-mouseposition {
	font-size: 15px;
}

.leaflet-tile {
	/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-pixelated;
	image-rendering: pixelated;
}

a.leaflet-toolbar-icon {
	color: #000;
}