html, body, #map {
	height: 100vh;
}

.leaflet-container .leaflet-control-mouseposition {
	font-size: 15px;
}

.leaflet-tile {
	/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-pixelated;
	image-rendering: pixelated;
}

a.leaflet-toolbar-icon {
	color: #000;
}